body{
    background-color: aliceblue;
}


/* Detalhes formulário */

.item-form{
    margin: 10px;
}

.cadastro-atividades{
    margin: 0 auto;
    text-align: center;
}



#detalhe-atividade{
    width:250px;
    height: 50px;
}



